.uk-section {
    background-color: white;
  }
  .owl-carousel {
    position: relative;
    margin-top: 30px;  
  }
 
  .owl-nav {
    position: absolute;
    top: -60px;
    left: 10px;
  }
  .uk-card-primary {
    border-radius: 8px;
  }
  h3 {
    margin-top: 10px
  }
  .uk-card > :last-child {
    margin-top:0;
    margin-bottom: 10px
  }
  p {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .owl-next {
    background: #2b5b33 !important;
  }
  .owl-theme .owl-nav [class*='owl-'] {
    background: #2b5b33 !important;
  }
  .owl-dots {
    margin-top: 30px;
    display: none;
  }
  .uk-card-title {
    padding-bottom: 20px
  }

  .card-text {
    color: #2b5b33 !important;
  }

  .imgslider-icon {
    background: #2b5b33 !important; 
    color: white;
    padding: 4px 6px;

  }

 ::ng-deep .owl-item {
   height: 48vh;
 }

 ::ng-deep .card:hover .edit
 {
  display: block;
  
 }
 

 .edit {
	
	position: absolute;
	left: 45%;
	top: 35%;
  display: none;
  background: red;
  border-radius: 18%;
  width: 35px;
}

.edit a {
	color: #000;
}